<div id="main">
  <div id="post">
    <h1><%= @post.title %></h1>
    <div class="details">
      <span class="posted-at">Posted on Nov 18</span>
      <span class="author">by Joe Flanagan</span>
    </div>

    <div class="content">
      <%=raw @post.content %>
    </div>

    <div class="more-information">
      <div>Tags: <%=raw @post.tags.map { |tag| link_to tag.name, blog.tag_path(tag) }.join(", ") %></div>
    </div>

    <%= render "social_buttons", :post => @post %>
    <%= render "disqus", :disqus_shortname => @disqus_shortname %>
  </div>
</div>

<div id="sidebar">
  <%=raw @post.sidebar.try(:content) %>
</div>