<div class="row">
  <div class="span12">
    <section>
      <div class="page-header">
        <h1>Tag List</h1>
      </div>
    </section>

    <section>
      <table class="table table-striped">
        <tr>
          <th>name</th>
          <th>slug</th>
          <th>enable?</th>
          <th>action</th>
        </tr>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.name %></td>
            <td><%= tag.slug %></td>
            <td><%= tag.is_enabled? ? "Yes" : "No" %></td>
            <td>
              <%= link_to "Preview", blog.tag_path(tag), :class => "btn btn-mini", :target => "_blank" %>
              <%= link_to "Edit", blog.edit_admin_tag_path(tag), :class => "btn btn-mini" %>
            </td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>

<div class="row" style="text-align:center">
  <%= paginate @tags %>
</div>