<div class="row">
  <div class="span12">
    <section>
      <div class="page-header">
        <h1>Post List</h1>
      </div>
    </section>

    <section>
      <%= link_to "Create New Page", blog.new_admin_post_path, :class => "btn btn-primary pull-right", :style => "margin-bottom:30px" %>
      <%= form_tag admin_posts_path, :method => "GET" do %>
        <input type="submit" value="search" class="pull-right" style="margin:3px 20px 0 0">
        <input type="text" name="q" value="<%= params[:q]%>" class="pull-right" style="margin-right:20px" placeholder="Search">
      <% end %>
    </section>

    <section>
      <table class="table table-striped">
        <tr>
          <th>title</th>
          <th>published at</th>
          <th>updated at</th>
          <th>created at</th>
          <th>actions</th>
        </tr>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.published_at %></td>
            <td><%= post.updated_at %></td>
            <td><%= post.created_at %></td>
            <td>
              <%= link_to "Preview", blog.post_path(post), :class => "btn btn-mini", :target => "_blank" %>
              <%= link_to "Edit", blog.edit_admin_post_path(post), :class => "btn btn-mini" %>
              <%= link_to "Delete", blog.admin_post_path(post), :class => "btn btn-mini btn-danger", :method => "delete", :confirm => "It can't be recoverd, are your sure?" %>
            </td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>

<div class="row" style="text-align:center">
  <%= paginate @posts %>
</div>


