<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    "blog/admin", :media => "all" %>
  <%= javascript_include_tag "blog/admin", "blog/plugin/ckeditor/init" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Blog Admin", blog.root_path, :class => "brand" %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="<%= "active" if params[:controller] == "" %>"><%= link_to "Setting", "" %></li>
            <li class="<%= "active" if params[:controller] == "blog/admin/users" %>"><%= link_to "User", blog.admin_users_path %></li>
            <li class="<%= "active" if params[:controller] == "blog/admin/navigations" %>"><%= link_to "Navigation", blog.admin_navigations_path %></li>
            <li class="<%= "active" if params[:controller] == "blog/admin/images" %>"><%= link_to "Image", blog.admin_images_path %></li>
            <li class="<%= "active" if params[:controller] == "blog/admin/posts" %>"><%= link_to "Post", blog.admin_posts_path %></li>
            <li class="<%= "active" if params[:controller] == "blog/admin/sidebars" %>"><%= link_to "Sidebar", blog.admin_sidebars_path %></li>
            <li class="<%= "active" if params[:controller] == "blog/admin/tags" %>"><%= link_to "Tag", blog.admin_tags_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <%= yield :footer %>

  <div id="overlay-container">
    <div id="overlay"></div>
    <div id="overlay-img"></div>
  </div>
</body>
</html>
